* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

            /*HEADER*/
header {
    height: 4rem;
    background-color: #2e3a46;
    display: flex;
    align-items: center;
}

header img {
    width: 40px;
    margin-left: 20px;
}


            /*MAIN*/
main {
    min-height: calc(100vh - 4rem);
    background-color: #1e2d3b;
}
.container-all-discs {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container-max-single-box {
    width: 200px;
    height: 380px;
    background-color: #2e3a46;
    padding-bottom: 15px;
    padding-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 10px; 
}
.container-min-single-box {
    width: 170px;
    color: rgb(170, 170, 170);
    line-height: 1.8em;
}

.img-poster {
    width: 170px;
}

h3 {
    font-size: 19px;
    color: white;
    text-transform: uppercase;
}